*{
    padding:0;
    margin:0;
    border:border-box;
}
body{
    overflow-x: hidden;
    padding: 0;
    background-color: #000000;
}

.list-icon{
    background-color: transparent;
    border:none;
    /* outline:1px solid black; */
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    padding:4px;


}

.list-icon:hover{
    background-color:rgba(47, 46, 46, 0.605);
}
.nav-searchbar{
    background-color: transparent;
    border-right:none;
    border:1px solid black;
}
.searchbtn{
    border-left:none;
    border:1px solid black;

}
.searchbar-container{
    width:45vw;
}
.test{
    display:flex;
    justify-content: space-between;
}
.searchbar{
    width:35vw;
    background-color: transparent;
    border:1px solid #303030;
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
    height:100%;
    border-right: none;
    padding: 7px 0px;
}
.searchbtn{
    height:100%;
    border:1px solid #303030;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    width:55px;
    background-color: rgb(35, 34, 34);
    padding: 7px 0px;
}
/* .searchbar-container{
    background-color: aqua;
} */
.mic-icon{
    background-color: black;
    border:none;
    border-radius:50%;
    
}
.mic-icon:hover{
    background-color: #303030;
}

.sidebar{
    width: 16%; overflow-y:hidden; height:100vh;    transition: overflow 0.3s;
    background-color: black;
    position: fixed;
    left:0;
}
.sidebar:hover{
    overflow-y: auto;

}
.chipbtn{
    background-color: #454444;
    color: white;
    font-size: 0.9rem;
    border:none;
    padding:0px 9px;
    border-radius: 3px;
    text-align: center;
    padding-bottom: 3px;
    margin-right: 5px;
    font-weight: 500;

}
.chips{
    display:inline-block; 
    width:100%;
    overflow-x: scroll;
    white-space: nowrap;  
    -ms-overflow-style: none; 
    scrollbar-width: none;
    padding:10px 3px;


}
/* .chip-container {
    overflow-x: scroll;
    white-space: nowrap;
    padding:10px 3px;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    
  } */
  .chips::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  .main-container{
    background-color: #000000;
  }
  .yt-logo{
    width:5.6vh;border-radius: 50%;padding:5px;cursor: pointer;
  }
  .whitecol{
    color: white;
  }
.pills:hover{
    background-color: #3030306c;
}